@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html,body {
    /* overflow: hidden; */
    scrollbar-width: none;    /* Firefox */
    -ms-overflow-style: none;    /* IE e Edge */
}

::-webkit-scrollbar {
    display: none;    /* Chrome, Safari, Opera */
}


img {
    width: 100vw;
}

a {
    display: block;
    background-color: darkred;
    color: white;
    padding: 20px;
    text-align: center;
    font-weight: bolder;
    text-decoration: none;
    background-size: cover;

}

a:hover {
    background-color: red;
}